.button {
    font-weight: 600;
    font-size: 1rem;
    width: fit-content;
    border: solid var(--stroke-weight) var(--color-dark);
    padding-top: var(--half-padding);
    padding-bottom: var(--half-padding);
    padding-left: var(--padding);
    padding-right: var(--padding);
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.clicked {
  background-color: var(--color-secondary);
  color: var(--color-dark);
}