.nav-tabs{
    isolation: isolate;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: calc(var(--gap) / 2);
}

.nav-tab {
    font-weight: 700;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    color: var(--color-dark);
}

.tab-label {
    position: relative;
    z-index: 10;
    /* background-color: var(--color-light); */
    /* include this blend mode if the navbar has a light background color */
    /* mix-blend-mode: exclusion; */
}

.nav-tab:hover {
    transition: ease-in-out 0.1s;
    /* color: color-mix(in srgb, var(--color-light) 70%, transparent); */
}

.active-nav-tab {
    /* font-weight: bold; */
    /* color: var(--color-dark); */
}

/* Prevents hover from changing text color of active tab */
/* make sure it's the same as the nav tab color */
.active-nav-tab:hover {
    color: var(--color-dark);
}

.navigator {
    position: absolute;
    inset: 0;
    /* border radius needs to be changed in NavTabs.tsx */

    /* Solid */
    /* background-color: var(--color-dark); */

    /* Other Options */

    /* Outline */
    /* border: solid 2px var(--color-light); */

    /* Underline */
    margin: 0 0.5rem 0 0.5rem;
    border-bottom: solid 2px var(--color-dark);
}
