  @import url("https://use.typekit.net/xhb0drn.css");

*{
  box-sizing: border-box;
}

/* what is this? */
:root {
  /* TO DO */
  /* optionally look up color scheems later */

  font-family: articulat-cf, sans-serif;
  font-weight: 500;

  margin: 0;

  /* Color scheme */
  --color-light: #f0f0f0;
  /* --color-dark: #333333; */
  --color-dark: black;
  --color-text: var(--color-dark);
  --color-primary: #5dc8dc;
  --color-secondary: #9e9d9e;

  /* page formatting */
  --max-width: 1440px;
  --navbar-height: 6rem;

  /* Spacing */
  --padding: 1rem;
  --quarter-padding: calc(var(--padding) / 4);
  --half-padding: calc(var(--padding) / 2);
  --double-padding: calc(var(--padding) * 2);

  --gap: 1rem;
  --half-gap: calc(var(--gap) / 2);
  --double-gap: calc(var(--gap) * 2);

  --border-radius: 0.25rem;
  --stroke-weight: 2px;

  /* Look up what these do */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mobile root Formatting */
@media screen and (max-width: 768px) {
  :root {
    --max-width: 100%;
    --padding: 0.5rem;
    --gap: 0.5rem;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p{
  font-weight: 500;
  line-height: 1.6;
  color: rgb(90, 90, 90);
}

a{
  font-weight: 700;
  color: var(--color-dark);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-light);
  color: var(--color-text);
}

.outlet-container {
  margin-top: var(--navbar-height); /* Adjust based on the height of your navbar */
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding);
}

.outlet {
  width: 100%;
  height: 100%;
}

/* Auto Wrapper */
.auto-wrapper {
  display: flex;
  width: 100%;
  padding: var(--padding);
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.half-gap {
  gap: var(--half-gap);
}

.gap {
  gap: var(--gap);
}

.double-gap {
  gap: var(--double-gap);
}


.wrap {
  flex-wrap: wrap;
}

.flex-column-reverse {
  flex-direction: column-reverse;
  gap: 0rem
}

.flex-column {
  flex-direction: column;
}

.double-basis {
  flex-basis: 2;
}

@media screen and (max-width: 768px) {
  .auto-wrapper {
    flex-direction: column;
  }
}

/* Text Article */
.text-wrapper {
  width: 100%;
  height: fit-content;
}

.text-wrapper p {
  max-width: 30rem;
}

/* Image Wrapper */
.image-wrapper {
  width: 100%;
  position: relative;
}

/* Utility Classes */
@media screen and (max-width: 768px) {
  .reverse-on-mobile{
    flex-direction: column-reverse;
  }
}


/* Dev Utilities */
.lorm-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  max-width: 30rem; /* Adjust as needed */
}