  @import url("https://use.typekit.net/xhb0drn.css");

*{
  box-sizing: border-box;
}

/* what is this? */
:root {
  /* TO DO */
  /* optionally look up color scheems later */

  font-family: sofia-pro-variable, sans-serif;

  margin: 0;

  /* Color scheme */
  --color-light: #f0f0f0;
  --color-dark: #333333;
  --color-text: var(--color-dark);
  --color-primary: #2fcbd6;
  --color-secondary: #d8c883;

  /* page formatting */
  --max-width: 1440px;
  --navbar-height: 5rem;

  /* Spacing */
  --padding: 1rem;
  --gap: 0.5rem;
  --border-radius: 0.5rem;

  /* Look up what these do */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mobile Formatting */
@media screen and (max-width: 768px) {
  :root {
    --max-width: 100%;
    --padding: 0.5rem;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-light);
  color: var(--color-text);
}

.outlet-container {
  margin-top: var(--navbar-height); /* Adjust based on the height of your navbar */
  width: 100%;
  max-width: var(--max-width);
  padding: var(--padding);
}

.outlet {
  width: 100%;
}

.auto-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auto-layout {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  align-items: center;
  justify-content: center;
}

.lorm-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  max-width: 30rem; /* Adjust as needed */
}


@keyframes color-pulse {
  0%   { background-color: #e5e7eb; } /* light gray  */
  50%  { background-color: #dee1e6; } /* mid gray    */
  100% { background-color: #e5e7eb; } /* back again  */
}

.image-skeleton{
  position: absolute;
  inset: 0;
  /* background-color: lightgray; */
  animation: color-pulse 2s ease-in-out infinite;
}